* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

:root {
    --bg-color: #ffffff;
    --timer-color: #323238;
    --btn-timer-color: #323238;
    --btn-sound-bg-color: #E1E1E6;
    --btn-sound-bg-color-hover:#cacacc;
    --btn-sound-simb-color: #323238;
    --btn-sound-checked-bg-color: #02799D;
    --btn-sound-checked-simb-color: #ffffff;
    --btn-sound-slider-color: #323238;
    --btn-toggle-mode-display: #000000;
    font-size: clamp(40%, 1% + 2vw, 62.5%);
    font-family: 'Roboto', sans-serif;    
}

.dark-mode {
    --bg-color: #121214;
    --timer-color: #FFFFFF;
    --btn-timer-color: #C4C4CC;
    --btn-sound-bg-color: #29292E;
    --btn-sound-bg-color-hover:#38383f;
    --btn-sound-simb-color: #C4C4CC;
    --btn-sound-checked-bg-color: #0A3442;
    --btn-sound-checked-simb-color: #FFFFFF;
    --btn-sound-slider-color: #FFFFFF;
    --btn-toggle-mode-display: #FFFFFF;
    transition: 0.3s;
}

body {
    font-size: 1.6rem;
    height: 100vh;

    display: grid;       
    place-content: center;    

    background-color: var(--bg-color);
    transition: 0.3s;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

#app {
    display: flex;
    align-content: center;
    justify-content: center;   
    gap: 15rem;    
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

#display-mode {
    position: absolute;
    top: 6rem;
    right: 6rem;
}

#display-mode button {
    color: var(--btn-sound-simb-color);
}

#display-mode button:nth-child(1) {
    font-size: 4.4rem;
}

#display-mode button:nth-child(2) {
    font-size: 3.6rem;
}

#timer {
    display: grid;
    place-content: center;
}

#timer-controls {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

#timer-display {
    display: flex;
    font-size: 12.6rem;
    color: var(--timer-color);
    gap: 0;
}

#timer-controls button {
    font-size: 4.8rem;
    color: var(--btn-timer-color);
    background-color: transparent;
    transition: 0.2s;  
}

#timer-controls button:hover {    
    filter:opacity(90%);
    transition: 0.2s;
}

#sound-controls {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
    gap: 3.2rem;
    width: 30.8rem;
    height: 33.6rem;
    margin: auto    
}

.sound-selector {
    display: grid;
    width: 13.8rem;
    height: 15.2rem;
    padding: 2.4rem; 
    gap: 3rem;   
    place-content: center;
    border-radius: 2.4rem;
    background-color: var(--btn-sound-bg-color); 
    transition: 0.2s; 
}

.sound-selector:hover {
    filter:contrast(70%);
    cursor: pointer;
    transition: 0.2s;    
}

.sound-selector button {
    font-size: 7rem; 
    color: var(--btn-sound-simb-color);
}

.selected-box {       
    border-radius: 2.4rem;
    color: var(--btn-sound-checked-simb-color);
    background-color: var(--btn-sound-checked-bg-color);       
}

.selected-button {
    color: var(--btn-sound-checked-simb-color);
}

/* input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 0.8rem;
    cursor: pointer;
    outline: none;
    border-radius: 2rem;
    height: 0.4rem;
    background: var(--btn-sound-simb-color);
    accent-color: var(--btn-sound-simb-color)
  } */

input {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--btn-sound-slider-color);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--btn-sound-slider-color); 
    cursor: pointer;
    border-radius: 50%; 
}

input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--btn-sound-slider-color);
    cursor: pointer;
}

.hide {
    display: none;
}

@media(max-width: 900px) {
    #app {        
        flex-direction: column;
        place-content: center;
        padding-bottom: 2rem;
        gap: 3rem;
        ;
    }

    #display-mode {        
        top: 3rem;
        right: 3rem;
    }

}
